@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
    font-family: 'Big Shoulders Display', cursive;
    
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
    font-family: 'Lexend Deca';
   
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration: none;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 900px;
    height: 600px;
    display: flex;
    Align-items: center;
    Justify-content: center;
}

.sedan{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;   
    background-color: hsl(31, 77%, 52%) ; 
}         

.suv{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;    
    background-color:hsl(184, 100%, 22%) ;    
}   

.luxury{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color:hsl(179, 100%, 13%) ;        
}     

.svgSedan{
    padding-left: 55px;
    padding-top: 55px;
}

.svgSuv{
    padding-left: 55px;
    padding-top: 55px;
    
}

.svgLuxury{
    padding-left: 55px;
    padding-top: 55px;

}

h2{
font-family: 'Big Shoulders Display', cursive;
padding-left: 55px;
padding-top: 25px;

}